body, h1, h2, ul {
    margin: 1em;
    padding: 1em;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #4CAF50;
    color: #fff;
}

.header-container img {
    max-width: 10%; /* Tamaño responsivo de la imagen */
    max-height: 10%;
    height: auto;
    border: 1px solid green;
    margin-top: 1rem; /* Espacio entre el encabezado y la imagen */
}

header {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
}

section {
    margin: 2rem 0;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 500px;
}

input, textarea {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

button {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding-left: 0;
}

.error {
    border: 2px solid red;
}

.footer-container {
    padding: 1rem;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    margin-top: 200px;
}

@media screen and (min-width: 600px) {
    .header-container {
        justify-content: space-between;
    }

    header, .header-container img {
        width: auto;
        margin: 0;
    }

    form {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 900px) {
    form {
        justify-content: space-between;
    }

    input, textarea, button {
        flex: 1 1 200px;
    }
}


