.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #4CAF50;
    color: #fff;
}

.header-container img {
    width: 100px; /* Tamaño deseado de la imagen */
    height: auto; /* Ajustar la altura proporcionalmente al ancho */
    border: 1px solid red;
}

header {
    margin-right: 1rem; /* Espacio entre el encabezado y la imagen */
}



body, h1, h2, ul {
    margin: 10;
    padding: 10;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

section {
    margin: 2rem 0;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
}

input, textarea {
    flex: 1 1 200px;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

button {
    flex: 1 1 200px;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding-left: 0;
}

.error {
    border: 2px solid red;
}

.footer-container {
    padding: 1rem;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    margin-top: 200px;
}


